<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/zero.css">
  <title>Zero</title>
</head>
<body>
    <div id="zero-page">
      <h1>Welcome to <span>WhatAge</span></h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus exercitationem iure sit ipsum beatae? Iure perferendis facilis quaerat suscipit assumenda magni pariatur, ducimus cumque dolore saepe praesentium ipsa, laudantium culpa.</h2>
      <a href="{{ url_for('test')}}"><button>Take the Test</button></a>
    </div>
    
    <script src="script.js"></script>
</body>
</html>
